@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

:root {
    --top--flag--color: rgba(89, 109, 98, .9);
    --bottom--flag--color: rgba(188, 189, 193, .9);
    --arrow-brown: rgba(144, 86, 52, .9);
    --arrowhead-green: rgba(52, 74, 36, .9);
    --primary--nps-font: 'Amiri', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Overall page content */
body {
    background-color: var(--arrowhead-green);
    font-family: var(--primary--nps-font);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--arrow-brown);
    color: white;
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 3.rem;
    font-weight: 300;
}

h3 {
    font-size: 2.5rem;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/* Does not stick to cards but I personally like that design*/

.sticky+.main-body {
    padding-top: 102px;
}


.flag {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 1.5%;
    box-sizing: content-box;
    max-width: 100%;
}


/* Resize flag depending on screen size*/


@media (max-width: 375px) {
    .flag {
        flex-grow: 0;
        width: 200px;
        height: 120px;
    }
}

@media (min-width: 412px) {
    .flag {
        flex-grow: 0;
        width: 400px;
        height: 240px;
    }
}

@media (min-width: 768px) {
    .flag {
        flex-grow: 0;
        width: 640px;
        height: 384px;
    }
}

@media (min-width: 1400px) {
    .flag {
        flex-grow: 0;
        width: 800px;
        height: 480px;
    }
}

/* Brief paragraph & buttons layout*/

.tophalf { 
    align-items:center;
    border-radius: 1%;
    background-color: var(--bottom--flag--color);
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 5%;
    padding: 2rem;
    max-width: 1700px;
}
 
#userinput {
    background-color: aliceblue;
    color: black;
    font-family: var(--primary--nps-font);
    font-size: 1.3rem;
    font-weight: 800;
    max-width: 20rem;
    min-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
}

#submitbtn {
    background-color: aliceblue;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 20rem;
    min-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
}

/* Rules for area where park information is displayed on screen*/
.park-info {
    flex-grow: 1;
    min-height: 3vh;
}

#collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

/* Rules for area where park information is displayed on each card*/
.card {
    align-items:center;
    border-radius: 1%;
    background-color: var(--bottom--flag--color);
    color: var(--top--flag--color);
    color: black;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1700px;
    font-size: 1.3rem;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin: 3%;
    padding: 2rem;
    }

.card > p {
    display: flex;
    max-width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}
    
#break {
      overflow-wrap: break-word;
      word-break: break-all;
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

}

.responsive {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 480px;
}

.parkpic {
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: 800px;
    max-height: 480px;
}

/* Resize park pictures depending on screen size*/
@media (max-width: 275px) {
    .parkpic {
        flex-grow: 0;
        width: 100px;
        height: 60px;
    }
}

@media (max-width: 375px) {
    .parkpic {
        flex-grow: 0;
        width: 200px;
        height: 120px;
    }
}

@media (min-width: 412px) {
    .parkpic {
        flex-grow: 0;
        width: 400px;
        height: 240px;
    }
}

@media (min-width: 768px) {
    .parkpic {
        flex-grow: 0;
        width: 640px;
        height: 384px;
    }
}

@media (min-width: 1400px) {
    .parkpic {
        flex-grow: 0;
        width: 800px;
        height: 480px;
    }
}

/* Visual feedback of what park your cursor is on.*/
.card:hover {
    box-shadow: 3px 3px 7px 12px black;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    display: flex;
    flex-direction: column;
    align-self:flex-end;
}


/* Footer style rules*/
footer {
    align-items:center;
    background-image: url("../imgs/Banff_National_Park_banner.jpg");
    /*Yes I know the footer image is of a Canadian National Park vs one within the American NPS.*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 3rem;
}

.footer-text {
    background-color: rgba(103, 128, 159, .7);
    border-radius: 5%;
    font-size: 1.25rem;
    font-family: var(--primary--nps-font);
    font-weight: 600;
    color:black;
}