@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

:root {
    --top--flag--color: rgb(89, 109, 98);
    --bottom--flag--color: rgb(188, 189, 193);
    --arrow-brown: rgb(144, 86, 52);
    --arrowhead-green: rgb(52, 74, 36);
    --header--red: rgb(106 18 17);
    --primary-shadow-color: #808080;
    --primary--nps-font: 'Amiri', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--arrowhead-green);
    flex-direction: column;
    font-family: var(--primary--nps-font);
    display: flex;
    min-height: 100%;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--arrow-brown);
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.0rem;
    font-weight:300; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
}

#logo {
    display: flex;
    justify-content: center;
    min-height: auto;
    min-width: auto;
}

.tophalf { 
    align-content: center;
    border: 10%;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: .5%;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--top--flag--color);
    color: white;
}

.gif {
    display: flex;
    justify-content: center;
}

#selector {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    margin: auto;
    padding: auto;
}
 
#userinput {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    border: 5%;
    border-radius: 5%;
    color: black;
    font-family: var(--primary--nps-font);
    font-size: 1.3rem;
    font-weight: 200;
    margin: auto;
    padding: 3%;
}

#submitbtn {
    border: 5%;
    border-radius: 5%;
    color: black;
    display: grid;
    grid-column: 1;
    grid-row:1;
    font-family: var(--primary--nps-font);
    font-size: 1.3rem;
    font-weight: 200 bold;
    margin: auto;
    padding: 3%;
}

main {
    flex-grow: 1;
    min-height: 1vh;
}

#collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-items: center;
    border-radius: 5%;
    background-color: var(--bottom--flag--color);
    display: flex;
    color: white;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 2%;
    padding: 1rem;
}

.card > p {
    align-items: flex-start;
}

.card:hover {
    box-shadow: 3px 3px 7px 12px black;
}

footer {
    align-items:center;
    background-image: url("../imgs/Banff_National_Park_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    display: flex;
    font-size: 2.0rem;
    font-family: var(--primary--nps-font);
    font-weight: bold, 300;
    padding: 3rem;
}