@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root {
    --primary--nps-color: rgb(106 18 17);
    --primary-shadow-color: #808080;
    --primary--nps-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    min-block-size: 5vh;
    min-width: 5vh;
}

body {
    font-family: var(--primary--nps-font);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(194, 165, 128);
}

main {
    flex-grow: 1;
}

header, footer {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--primary--nps-color);
    color: white; 
}

header {
    background-color: var(--primary--nps-color);
    color: white; 
    box-shadow: 3px 3px 12px 1px var(--primary-shadow-color);
    font-family: var(--primary--nps-font);
    align-items: center;
}

header > h1 

#collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 3px 3px 7px 2px var(--primary-shadow-color);
    margin: 10%;
    background-color: white;
    flex-grow: 1;
    padding: 5%;
}

.card:hover {
    box-shadow: 3px 3px 7px 12px black;
} _

footer > p {
    display: flex;
    justify-content: center;
    color: white; 
}